.test {
    color: blue;
    background-color: yellow;
    font-family: 'roboto', sans-serif;
    font-size: 48px;
}

button {
    height: 30px;
    width: 100px;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
}